body{
    background-color:lightslategray;
    height: 100vh;
    overflow: hidden;
}

@font-face{
    font-family: "pixel-desk";
    src: url("fonts/slkscr.ttf");
}

/* styling for taskbar */
.taskbar{
    background-color: rgb(185, 185, 185);
    height: 55px;
    width:105%;
    left:0;
    bottom:0;
    position:fixed;
    margin-left:-10px;

}

/* styling for icons container on taskbar */
.icons-container-taskbar{
    display: flex;
    flex-direction: row;
    height:65px;
    margin-top: 0;
    padding-top: 0;
    position: absolute;
    left: 10px;
    top: -10px;
}

/* styling for icons container on desktop screen */
.icon-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon-title{
    text-align: center;
    width: 95px;
    margin-top: -20px;
    font-family:"pixel-desk";
}

.window{
    background-color:rgb(176, 176, 176);
    box-shadow: 10px 10px;
}

.window-bar{
    height: fit-content;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
    padding: 3px;
    background-color: rgb(255, 255, 184);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

#close-window-button{
    border-color: black;
    border-style: solid;
    border-width:1px;
    background-color: rgb(185, 185, 185);
}



.taskbar-clock{
    position: absolute;
    right: 20px;
    top: 15px;
    font-family: "pixel-desk";
    font-size: 18px;
}


.window{
    position: absolute;
    width: 400px;
    height: 300px;
    top: 100px;
    left: 100px;
    background-color: rgb(176, 176, 176);
    box-shadow: 10px 10px black;
    display: none;
}

.window-content{
    padding: 10px;
    font-family: "pixel-desk";
}
