body{
    background-color:lightslategray;
    height: 100vh;
    overflow: hidden;
}

@font-face{
    font-family: "pixel-desk";
    src: url("fonts/slkscr.ttf");
}

/* styling for taskbar */
.taskbar{
    background-color: rgb(185, 185, 185);
    height: 55px;
    width:105%;
    left:0;
    bottom:0;
    position:fixed;
    margin-left:-10px;

}

/* styling for icons container on taskbar */
.icons-container-taskbar{
    display: flex;
    flex-direction: row;
    height:65px;
    margin-top: 0;
    padding-top: 0;
    position: absolute;
    left: 10px;
    top: -10px;
}

/* styling for icons container on desktop screen */
.icon-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon-title{
    text-align: center;
    width: 95px;
    margin-top: -20px;
    font-family:"pixel-desk";
}

